body {
    font-family: roboto, Verdana, Tahoma, sans-serif;
    margin: 0;
}

.block-1 {
    background-color: #1F2937;
    padding: 24px 256px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    gap: 16px;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #E5E7EB
}

.sub-block-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-top: 24px;
}

.header-1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.text {
    font-size: 18px;
    color: #E5E7EB
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 900;
    padding: 8px 30px;
    border-radius: 8px;
    border: 0;
    margin: 12px 0;
}

.block-2 {
    padding: 48px 256px;

}

.header-2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.sub-block-2 {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 48px 0;
}